# Configuração de fonte de dados do Grafana
# Trabalho de Redes II - 2025.2

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://76.1.0.30:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
